* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto; }

ul li {
  list-style: none; }

h1 {
  font-size: 3rem; }

@font-face {
  font-family: "dazzle-bold";
  src: url(../fonts/dazzle-bold.ttf);
  font-style: bold;
  font-weight: bold; }

@font-face {
  font-family: "futura-bold";
  src: url(/fonts/futura-bold.ttf);
  font-style: bold;
  font-weight: bold; }

@font-face {
  font-family: "futura-bold2";
  src: url(/fonts/futura-bold.ttf);
  font-style: italic;
  font-weight: bolder; }

@font-face {
  font-family: "futura-medium";
  src: url(/fonts/futura-medium.ttf);
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "futura-light";
  src: url(/fonts/futura-light.ttf);
  font-style: normal;
  font-weight: lighter; }

.flags {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px; }

.flags__item {
  width: 30px; }

.flags__img {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px; }

#header {
  background-color: rgba(0, 0, 0, 0.403);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100vw;
  z-index: 10000; }

#navBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 100px;
  z-index: 100000; }
  #navBar a {
    color: #e7e7e7;
    font-weight: 400;
    font-family: "futura-light";
    font-size: 1rem;
    letter-spacing: 2px;
    text-decoration: none; }
    #navBar a:hover {
      color: #ffff5d; }
  #navBar__dropdown {
    background-color: rgba(0, 0, 0, 0.65); }
    #navBar__dropdown a:hover {
      background-color: rgba(255, 255, 93, 0.734);
      color: #272727;
      font-weight: 500; }
  #navBar__button button {
    font-family: "futura-light";
    font-size: 1rem;
    letter-spacing: 2px;
    color: #f0f0f0;
    border-color: #f0f0f0; }
    #navBar__button button:hover {
      color: #0e0e0e;
      border-color: #ffff5d;
      background-color: #ffff5d; }
  #navBar__logo {
    margin-left: 30px; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8b8b8b;
  padding: 5px; }
  .footer a {
    text-decoration: none;
    color: #3a3939; }
    .footer a:hover {
      color: #0e0e0e; }
  .footer h5 {
    font-size: .7rem; }
  .footer__nav ul {
    gap: 20px;
    align-self: center; }

.maps {
  display: flex;
  gap: 20px;
  padding-top: 20px; }
  .maps p {
    font-size: .7rem; }

.indexMain {
  height: 100vh;
  text-align: center;
  align-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/portada2_12.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top; }
  .indexMain h1 {
    text-align: center;
    padding-top: 230px;
    color: #ffff6b;
    font-size: 5.5rem;
    font-family: "futura-bold";
    letter-spacing: .5rem; }
  .indexMain h2 {
    font-family: "futura-light";
    letter-spacing: .5rem;
    color: #e7e7e7;
    font-size: 1.8rem;
    font-weight: 100;
    padding-bottom: 10px; }
  .indexMain button {
    letter-spacing: .2rem;
    font-family: "futura-light";
    font-size: 1.5rem;
    background: none;
    color: #ffff6b;
    border: 1px solid #ffff6b;
    border-radius: 7px;
    padding: 5px 20px; }
    .indexMain button:hover {
      background-color: #fafa2b;
      color: #272727;
      transition: .5s; }

.mainTitle {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 40vw;
  height: 100vh; }

.containerOurConcept {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  gap: 100px;
  align-items: center; }
  .containerOurConcept h2 {
    text-align: center;
    color: #ffff6b;
    font-family: "futura-medium";
    letter-spacing: 3px; }
  .containerOurConcept p {
    color: #f6f6f6;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 10px; }
  .containerOurConcept img {
    border-radius: 7px;
    height: 350px;
    width: auto;
    box-shadow: 8px 5px 30px -3px rgba(7, 7, 7, 0.781);
    -webkit-box-shadow: 8px 5px 30px -3px rgba(0, 0, 0, 0.741);
    -moz-box-shadow: 8px 5px 30px -3px rgba(2, 2, 2, 0.603); }
  .containerOurConcept a {
    text-align: center;
    margin: auto; }
  .containerOurConcept button {
    margin: 0 auto;
    font-family: "futura-light";
    font-size: 1rem;
    font-weight: 400;
    background: none;
    color: #ffff6b;
    border: none;
    border-bottom: 1px solid #ffff6b;
    padding: 10px 10px 5px; }
    .containerOurConcept button:hover {
      border-bottom: 1px solid #fafa2b;
      color: #fafa2b;
      transition: .2s; }
  .containerOurConcept__separador {
    border-top: 1px solid #ffff6b;
    height: 2px;
    margin: 0 300px 20px; }

.textContainerOurConcept {
  display: flex;
  flex-direction: column; }

.ourColivings {
  height: max-content;
  background-color: #dbdbdb;
  padding: 30px;
  text-align: center; }
  .ourColivings h2 {
    color: #272727;
    font-family: "futura-medium";
    letter-spacing: 3px; }
  .ourColivings h3 {
    font-size: 1.2rem;
    font-family: "futura-medium"; }
  .ourColivings__separador {
    border-top: 1px solid #272727;
    height: 2px;
    margin: 0 300px 20px; }

.cards {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: auto auto;
  grid-template-areas: "cards__rosello bonsoms" "cards__proximamente";
  justify-content: center;
  gap: 20px;
  padding-top: 20px; }
  .cards a {
    text-decoration: none; }
  .cards h4 {
    font-size: .8rem;
    font-family: "futura-light";
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px;
    color: #272727;
    background-color: rgba(255, 255, 106, 0.71);
    margin-right: 290px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 7px; }
  .cards__rossello {
    height: 300px;
    width: 450px;
    grid-area: "cards__rosello";
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/cardsRossello_1.webp);
    background-size: cover;
    border-radius: 7px;
    box-shadow: 4px 2px 15px -3px rgba(7, 7, 7, 0.41);
    -webkit-box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 4px 2px 15px -3px rgba(2, 2, 2, 0.41); }
  .cards__bonsoms {
    height: 300px;
    width: 450px;
    grid-area: "cards__bonsoms";
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cardsBonsoms_1.webp);
    background-size: cover;
    border-radius: 7px;
    box-shadow: 4px 2px 15px -3px rgba(7, 7, 7, 0.41);
    -webkit-box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 4px 2px 15px -3px rgba(2, 2, 2, 0.41); }
  .cards__proximamente {
    height: 300px;
    width: 820px;
    margin-left: 50px;
    grid-area: "cards__proximamente cards__proximamente";
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/proximamente.png);
    background-size: contain;
    background-position-x: 20px;
    border-radius: 7px;
    box-shadow: 4px 2px 15px -3px rgba(7, 7, 7, 0.41);
    -webkit-box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 4px 2px 15px -3px rgba(2, 2, 2, 0.41); }
    .cards__proximamente h2 {
      text-align: center;
      background-color: rgba(255, 255, 106, 0.71);
      margin-top: 165px;
      letter-spacing: 2rem; }

.reviews {
  height: max-content;
  background-color: #272727;
  padding: 40px 0;
  text-align: center; }
  .reviews h2 {
    color: #ffff6b;
    font-family: "futura-medium";
    letter-spacing: 3px; }
  .reviews h4 {
    color: #e7e7e7;
    font-size: 1.2rem;
    font-family: "futura-medium"; }
  .reviews__separador {
    border-top: 1px solid #ffff6b;
    height: 2px;
    margin: 0 500px 20px; }

.buttonSlider {
  display: flex;
  justify-content: center;
  gap: 20px; }
  .buttonSlider button {
    font-size: 1rem;
    font-family: "futura-light";
    background: none;
    color: #ffff6b;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ffff6b; }
    .buttonSlider button:hover {
      color: #fafa2b;
      border-bottom: 1px solid #fafa2b; }
    .buttonSlider button a {
      text-decoration: none;
      color: #ffff6b; }
      .buttonSlider button a:hover {
        color: #fafa2b; }

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: #272727;
  padding: 30px 0; }
  .slider h3 {
    padding-top: 10px;
    font-size: 1.2rem; }

.slide-track {
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(300px *24); }
  .slide-track:hover {
    animation-play-state: paused; }

.slide {
  background-color: #f8f8f8;
  color: #272727;
  border-radius: 7px;
  cursor: pointer; }
  .slide h3 {
    text-decoration: #535353 underline; }
  .slide p {
    width: 350px;
    height: 320px;
    text-align: start;
    padding: 0 10px; }
  .slide a {
    text-decoration: none;
    height: 250px;
    color: #3c3c3c; }
    .slide a:hover {
      color: black; }
  .slide img {
    width: 100px; }

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0); }
  100% {
    transform: translateX(calc(-300px *12));
    -webkit-transform: translateX(-3600px); } }

.ourConceptMain {
  height: max-content;
  padding-top: 150px;
  background-color: #dbdbdb; }
  .ourConceptMain h1 {
    text-align: center;
    font-family: "futura-bold";
    font-size: 3.5rem;
    letter-spacing: .3rem;
    color: #272727; }
  .ourConceptMain h2 {
    text-align: center;
    color: #272727;
    font-family: "futura-medium"; }
  .ourConceptMain p {
    font-size: 1rem;
    font-family: "futura-light"; }
  .ourConceptMain__separador {
    border-top: 1px solid #272727;
    height: 2px;
    margin: 0 300px 20px; }

.containerOurConceptHome {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: max-content;
  padding: 20px 200px;
  gap: 80px; }
  .containerOurConceptHome img {
    border-radius: 7px; }
  .containerOurConceptHome__image {
    height: 300px;
    width: auto; }

.containerOurConceptDesign {
  display: flex;
  align-items: center;
  height: max-content;
  padding: 20px 200px;
  gap: 80px;
  background-color: #f6f6f6; }
  .containerOurConceptDesign img {
    border-radius: 7px; }
  .containerOurConceptDesign__image {
    height: 300px;
    width: auto; }

.containerOurConceptCommon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: max-content;
  padding: 20px 200px;
  gap: 80px; }
  .containerOurConceptCommon img {
    border-radius: 7px; }
  .containerOurConceptCommon__image {
    height: 300px;
    width: auto; }

.rosselloMain {
  height: max-content;
  background-color: #272727;
  padding-top: 120px;
  text-align: center; }
  .rosselloMain h1 {
    font-family: "futura-bold";
    font-size: 3.5rem;
    letter-spacing: 4px;
    color: #ffff6b; }
  .rosselloMain h2 {
    font-family: "futura-medium";
    font-size: 2rem;
    letter-spacing: 2px;
    color: #e7e7e7; }
  .rosselloMain__separador {
    border-top: 1px solid #ffff6b;
    height: 2px;
    margin: 0 300px 20px; }
  .rosselloMain p {
    font-family: "futura-light";
    font-size: 1.1rem;
    text-align: start;
    padding: 20px 200px;
    color: #e7e7e7; }
  .rosselloMain button {
    letter-spacing: .2rem;
    font-family: "futura-light";
    font-size: 1.2rem;
    background: none;
    color: #ffff6b;
    border: 1px solid #ffff6b;
    border-radius: 7px;
    padding: 5px 20px; }
    .rosselloMain button:hover {
      background-color: #ffff6b;
      color: #272727;
      transition: .5s; }

.commonSpaceRossello {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .commonSpaceRossello a {
    text-decoration: none; }
  .commonSpaceRossello p {
    text-align: start;
    padding: 0 100px 0 20px;
    color: #e7e7e7; }
  .commonSpaceRossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .commonSpaceRossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 100px;
    gap: 10px; }
    .commonSpaceRossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .commonSpaceRossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .commonSpaceRossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/portada.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .commonSpaceRossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room1Rossello {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room1Rossello a {
    text-decoration: none; }
  .room1Rossello p {
    text-align: start;
    padding: 0 20px 0 100px;
    color: #272727; }
  .room1Rossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 100px;
    color: #272727; }
  .room1Rossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 100px 50px 20px;
    gap: 10px; }
    .room1Rossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room1Rossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room1Rossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/room1Rossello/room1_4.webp);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room1Rossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room2Rossello {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .room2Rossello a {
    text-decoration: none; }
  .room2Rossello p {
    text-align: start;
    padding: 0 100px 0 20px;
    color: #e7e7e7; }
  .room2Rossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .room2Rossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 100px;
    gap: 10px; }
    .room2Rossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room2Rossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room2Rossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/room2Rossello/room2-4.webp);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room2Rossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room3Rossello {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room3Rossello a {
    text-decoration: none; }
  .room3Rossello p {
    text-align: start;
    padding: 0 20px 0 100px;
    color: #272727; }
  .room3Rossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 100px;
    color: #272727; }
  .room3Rossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 100px 50px 20px;
    gap: 10px; }
    .room3Rossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room3Rossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room3Rossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/room3Rossello/room3_4.webp);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room3Rossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room4Rossello {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .room4Rossello a {
    text-decoration: none; }
  .room4Rossello p {
    text-align: start;
    padding: 0 100px 0 20px;
    color: #e7e7e7; }
  .room4Rossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .room4Rossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 100px;
    gap: 10px; }
    .room4Rossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room4Rossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room4Rossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/room4Rossello/room4_10.webp);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room4Rossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room5Rossello {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room5Rossello a {
    text-decoration: none; }
  .room5Rossello p {
    text-align: start;
    padding: 0 20px 0 100px;
    color: #272727; }
  .room5Rossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 100px;
    color: #272727; }
  .room5Rossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 100px 50px 20px;
    gap: 10px; }
    .room5Rossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room5Rossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room5Rossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/room5Rossello/room5_4.webp);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room5Rossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room6Rossello {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .room6Rossello a {
    text-decoration: none; }
  .room6Rossello p {
    text-align: start;
    padding: 0 100px 0 20px;
    color: #e7e7e7; }
  .room6Rossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .room6Rossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 100px;
    gap: 10px; }
    .room6Rossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room6Rossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room6Rossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/room6Rossello/room6_4.webp);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room6Rossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room7Rossello {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room7Rossello a {
    text-decoration: none; }
  .room7Rossello p {
    text-align: start;
    padding: 0 20px 0 100px;
    color: #272727; }
  .room7Rossello h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 100px;
    color: #272727; }
  .room7Rossello picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 100px 50px 20px;
    gap: 10px; }
    .room7Rossello picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room7Rossello picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room7Rossello picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/room7Rossello/room7_4.webp);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room7Rossello picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.bonsomsMain {
  height: max-content;
  background-color: #272727;
  padding-top: 120px;
  text-align: center; }
  .bonsomsMain h1 {
    font-family: "futura-bold";
    font-size: 3.5rem;
    letter-spacing: 4px;
    color: #ffff6b; }
  .bonsomsMain h2 {
    font-family: "futura-medium";
    font-size: 2rem;
    letter-spacing: 2px;
    color: #e7e7e7; }
  .bonsomsMain__separador {
    border-top: 1px solid #ffff6b;
    height: 2px;
    margin: 0 300px 20px; }
  .bonsomsMain p {
    font-family: "futura-light";
    font-size: 1.1rem;
    text-align: start;
    padding: 20px 200px;
    color: #e7e7e7; }
  .bonsomsMain button {
    letter-spacing: .2rem;
    font-family: "futura-light";
    font-size: 1.2rem;
    background: none;
    color: #ffff6b;
    border: 1px solid #ffff6b;
    border-radius: 7px;
    padding: 5px 20px; }
    .bonsomsMain button:hover {
      background-color: #ffff6b;
      color: #272727;
      transition: .5s; }

.commonSpace {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .commonSpace a {
    text-decoration: none; }
  .commonSpace p {
    text-align: start;
    padding: 0 200px 0 20px;
    color: #e7e7e7; }
  .commonSpace h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .commonSpace picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 200px;
    gap: 10px; }
    .commonSpace picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .commonSpace picture img:nth-child(4) {
        filter: brightness(0.2); }
    .commonSpace picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/laundry/laundry_1.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .commonSpace picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room1Bonsoms {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room1Bonsoms a {
    text-decoration: none; }
  .room1Bonsoms p {
    text-align: start;
    padding: 0 20px 0 200px;
    color: #272727; }
  .room1Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 200px;
    color: #272727; }
  .room1Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 200px 50px 20px;
    gap: 10px; }
    .room1Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room1Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room1Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room1Bonsoms/room1_4.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room1Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room2Bonsoms {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .room2Bonsoms a {
    text-decoration: none; }
  .room2Bonsoms p {
    text-align: start;
    padding: 0 200px 0 20px;
    color: #e7e7e7; }
  .room2Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .room2Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 200px;
    gap: 10px; }
    .room2Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room2Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room2Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room2Bonsoms/room2_4.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room2Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room3Bonsoms {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room3Bonsoms a {
    text-decoration: none; }
  .room3Bonsoms p {
    text-align: start;
    padding: 0 20px 0 200px;
    color: #272727; }
  .room3Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 200px;
    color: #272727; }
  .room3Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 200px 50px 20px;
    gap: 10px; }
    .room3Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room3Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room3Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room3Bonsoms/room3_4.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room3Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room4Bonsoms {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .room4Bonsoms a {
    text-decoration: none; }
  .room4Bonsoms p {
    text-align: start;
    padding: 0 200px 0 20px;
    color: #e7e7e7; }
  .room4Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .room4Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 200px;
    gap: 10px; }
    .room4Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room4Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room4Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room4Bonsoms/room4_4.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room4Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room5Bonsoms {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room5Bonsoms a {
    text-decoration: none; }
  .room5Bonsoms p {
    text-align: start;
    padding: 0 20px 0 200px;
    color: #272727; }
  .room5Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 200px;
    color: #272727; }
  .room5Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 200px 50px 20px;
    gap: 10px; }
    .room5Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room5Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room5Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room5Bonsoms/room5_5.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room5Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room6Bonsoms {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .room6Bonsoms a {
    text-decoration: none; }
  .room6Bonsoms p {
    text-align: start;
    padding: 0 200px 0 20px;
    color: #e7e7e7; }
  .room6Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .room6Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 200px;
    gap: 10px; }
    .room6Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room6Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room6Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room6Bonsoms/room6_4.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room6Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room7Bonsoms {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room7Bonsoms a {
    text-decoration: none; }
  .room7Bonsoms p {
    text-align: start;
    padding: 0 20px 0 200px;
    color: #272727; }
  .room7Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 200px;
    color: #272727; }
  .room7Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 200px 50px 20px;
    gap: 10px; }
    .room7Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room7Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room7Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room7Bonsoms/room7_4.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room7Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room8Bonsoms {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #272727; }
  .room8Bonsoms a {
    text-decoration: none; }
  .room8Bonsoms p {
    text-align: start;
    padding: 0 200px 0 20px;
    color: #e7e7e7; }
  .room8Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 20px;
    color: #ffff6b; }
  .room8Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 20px 50px 200px;
    gap: 10px; }
    .room8Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room8Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room8Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room8Bonsoms/room8_2.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room8Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.room9Bonsoms {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  background-color: #ffff92; }
  .room9Bonsoms a {
    text-decoration: none; }
  .room9Bonsoms p {
    text-align: start;
    padding: 0 20px 0 200px;
    color: #272727; }
  .room9Bonsoms h3 {
    font-family: "futura-bold";
    letter-spacing: 3px;
    text-align: start;
    padding-left: 200px;
    color: #272727; }
  .room9Bonsoms picture {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: 0 200px 50px 20px;
    gap: 10px; }
    .room9Bonsoms picture img {
      height: 200px;
      width: 300px;
      border-radius: 7px;
      cursor: pointer;
      filter: brightness(0.6); }
      .room9Bonsoms picture img:nth-child(4) {
        filter: brightness(0.2); }
    .room9Bonsoms picture div {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), url(/img/bonsoms/room9Bonsoms/room9_4.jpg);
      background-size: cover;
      border-radius: 7px;
      cursor: pointer; }
      .room9Bonsoms picture div h4 {
        color: #ffff6b;
        padding-top: 80px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        letter-spacing: 3px; }

.mainGallery {
  padding-top: 120px;
  background-color: #272727;
  height: max-content; }
  .mainGallery h1 {
    color: #ffff6b;
    text-align: center;
    font-family: "futura-bold";
    letter-spacing: 4px;
    font-size: 3.5rem; }
  .mainGallery h2 {
    font-family: "futura-medium";
    font-size: 2rem;
    letter-spacing: 2px;
    color: #e7e7e7;
    text-align: center; }
  .mainGallery h3 {
    text-align: center;
    color: #ffff6b;
    font-family: "futura-medium";
    letter-spacing: 3px; }
  .mainGallery__separador {
    border-top: 1px solid #ffff6b;
    height: 2px;
    margin: 0 300px; }

.cardsGalleryRossello {
  background-color: #272727;
  height: max-content;
  padding-top: 50px; }
  .cardsGalleryRossello h2 {
    color: #dbdbdb;
    text-align: center;
    font-family: "futura-bold";
    font-size: 2.8rem;
    padding-top: 20px;
    letter-spacing: 3px; }
  .cardsGalleryRossello h3 {
    text-align: center;
    color: #ffff6b;
    font-family: "futura-medium";
    letter-spacing: 3px; }
  .cardsGalleryRossello__separador {
    border-top: 1px solid #ffff6b;
    height: 2px;
    margin: 0 300px;
    padding-bottom: 30px; }

.gallery__separador {
  border-top: 1px solid #dbdbdb;
  height: 2px;
  margin: 0 600px; }

.galleryRossello {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  gap: 15px;
  padding: 20px; }
  .galleryRossello img {
    width: 300px;
    height: 220px;
    cursor: pointer;
    image-rendering: optimizeSpeed; }

#imagen-activa {
  width: 100%;
  height: auto; }

#contenedor-principal {
  position: fixed;
  margin-top: 20px;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px); }

#contenedor-interno {
  display: flex;
  justify-content: end;
  position: relative;
  width: auto;
  height: auto;
  padding-top: 50px; }
  #contenedor-interno img {
    max-height: 75vh;
    max-width: 80vw; }

button {
  cursor: pointer;
  background-color: transparent;
  border: none; }

#btn-cierra {
  position: absolute;
  top: 12%;
  right: 5%;
  border: 2px solid #ffff6b;
  padding: 10px;
  border-radius: 100%; }

#btn-retrocede {
  position: absolute;
  top: 45%;
  left: 10%; }

#btn-adelanta {
  position: absolute;
  top: 45%;
  right: 10%; }

.faqsMain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(/img/colivingVibesNeon.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: max-content;
  padding-bottom: 40px; }
  .faqsMain h1 {
    padding-top: 120px;
    text-align: center;
    font-family: "futura-bold";
    font-size: 3.5rem;
    letter-spacing: .5rem;
    color: #ffff6b; }
  .faqsMain h3 {
    text-align: start;
    padding: 20px 300px;
    font-family: "futura-medium";
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #e7e7e7; }
  .faqsMain h4 {
    font-family: "futura-light";
    font-size: 1.2rem;
    letter-spacing: .3rem; }
  .faqsMain p {
    font-family: "futura-light";
    font-size: 1.1rem; }
  .faqsMain__separador {
    border-top: 1px solid #ffff6b;
    height: 2px;
    margin: 0 300px 20px; }

#accordion-item1 {
  margin: 10px 300px; }

#accordionButton {
  background-color: #f6f6f6;
  color: #272727; }

.accordion-body {
  background-color: #272727;
  color: #e7e7e7; }

.contactMain {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/contactBackground2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 150px 25px;
  display: flex;
  justify-content: space-between; }
  .contactMain h1 {
    font-family: "futura-bold";
    letter-spacing: .3rem;
    font-size: 3.5rem;
    text-align: start;
    color: #272727; }
  .contactMain h2 {
    font-family: "futura-medium";
    text-align: start; }
  .contactMain h3 {
    font-family: "futura-medium";
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .1rem; }

.infoContact {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 300px; }
  .infoContact__separador {
    border-top: 1px solid #272727;
    height: 2px;
    margin-right: 20px; }
  .infoContact__redesSociales {
    display: flex;
    justify-content: start;
    gap: 40px; }
    .infoContact__redesSociales img:nth-child(1):hover {
      filter: invert(21%) sepia(98%) saturate(7440%) hue-rotate(332deg) brightness(87%) contrast(105%); }
    .infoContact__redesSociales img:nth-child(2):hover {
      filter: invert(14%) sepia(82%) saturate(5669%) hue-rotate(357deg) brightness(95%) contrast(113%); }
    .infoContact__redesSociales img:nth-child(3):hover {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%); }

.formContact {
  background-color: rgba(209, 209, 209, 0.368);
  backdrop-filter: blur(7px);
  width: 90%;
  max-width: 600px;
  border-radius: 7px;
  border: 1px solid rgba(59, 59, 59, 0.64);
  padding: 2em 1.5em; }
  .formContact img {
    margin: auto;
    height: 100px;
    width: auto; }

.formContact__container {
  width: 100%;
  display: grid;
  gap: .8em;
  grid-auto-columns: 100%; }

.formContact__calendar {
  display: flex;
  justify-content: space-around;
  color: black; }

.calendar__input {
  background: none;
  color: #272727;
  font-size: 1rem;
  outline: none;
  border: none;
  border-bottom: solid 1.5px #272727; }

.form__input {
  background: none;
  color: #272727;
  font-size: 1rem;
  padding: .6em 1em;
  outline: none;
  border: none;
  border-bottom: solid 1.5px #272727; }
  .form__input::placeholder {
    color: black; }
  .form__input:focus {
    border: 1px solid #272727;
    border-radius: 7px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em;
  font-family: inherit;
  color: black; }
  .form__input--message:focus {
    border: 1px solid #272727; }

.form__cta {
  background-color: rgba(59, 59, 59, 0.663);
  color: #fafa2b;
  border: none;
  padding: .7em 0;
  border-radius: 7px;
  cursor: pointer; }
  .form__cta:hover {
    background-color: rgba(250, 250, 43, 0.716);
    color: #272727;
    transition: .4s; }

.infoContact {
  text-align: start; }
  .infoContact h2 {
    font-size: 1.4rem; }
