* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul li {
  list-style: none; }

@font-face {
  font-family: "dazzle-bold";
  src: url(../fonts/dazzle-bold.ttf);
  font-style: bold;
  font-weight: bold; }

.indexMain {
  height: 100vh;
  text-align: center;
  align-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/portada2_1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top; }
  .indexMain h1 {
    padding-top: 300px;
    color: #ffff6a;
    font-size: 3.2rem;
    font-family: "dazzle-bold";
    font-weight: 100;
    letter-spacing: .8rem; }
  .indexMain h2 {
    color: #d1d1d1;
    font-size: 1.8rem;
    font-weight: 100;
    padding-bottom: 10px; }
  .indexMain button {
    font-size: 1.5rem;
    font-weight: 400;
    background: none;
    color: #ffff6a;
    border: 1px solid #ffff6a;
    border-radius: 7px;
    padding: 5px 20px; }
    .indexMain button:hover {
      background-color: #ffff6a;
      color: #272727;
      transition: .5s; }

.mainTitle {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 40vw;
  height: 100vh; }

.containerOurConcept {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  gap: 100px;
  align-items: center; }
  .containerOurConcept h2 {
    text-align: center;
    color: #ffff6a; }
  .containerOurConcept p {
    color: #f6f6f6;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 10px; }
  .containerOurConcept img {
    border-radius: 7px;
    height: 350px;
    width: auto;
    box-shadow: 8px 5px 30px -3px rgba(7, 7, 7, 0.781);
    -webkit-box-shadow: 8px 5px 30px -3px rgba(0, 0, 0, 0.741);
    -moz-box-shadow: 8px 5px 30px -3px rgba(2, 2, 2, 0.603); }
  .containerOurConcept button {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    background: none;
    color: #ffff6a;
    border: none;
    border-bottom: 1px solid #ffff6a;
    padding: 10px 10px 5px; }
    .containerOurConcept button:hover {
      border-bottom: 1px solid #fafa2b;
      color: #fafa2b;
      transition: .2s; }

.textContainerOurConcept {
  display: flex;
  flex-direction: column; }

.ourColivings {
  height: max-content;
  background-color: #8b8b8b;
  padding: 30px;
  text-align: center; }
  .ourColivings h2 {
    color: #ffff6a; }
  .ourColivings h3 {
    font-size: 1.2rem; }

.cards {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-top: 20px; }
  .cards h4 {
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
    padding: 10px;
    color: #272727;
    background-color: rgba(255, 255, 106, 0.71);
    margin-right: 300px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 7px; }
  .cards__rossello {
    height: 300px;
    width: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cardsRossello_1.webp);
    background-size: cover;
    border-radius: 7px;
    box-shadow: 8px 5px 30px -3px rgba(7, 7, 7, 0.41);
    -webkit-box-shadow: 8px 5px 30px -3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 8px 5px 30px -3px rgba(2, 2, 2, 0.41); }
  .cards__bonsoms {
    height: 300px;
    width: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cardsBonsoms_1.webp);
    background-size: cover;
    border-radius: 7px;
    box-shadow: 8px 5px 30px -3px rgba(7, 7, 7, 0.41);
    -webkit-box-shadow: 8px 5px 30px -3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 8px 5px 30px -3px rgba(2, 2, 2, 0.41); }

.reviews {
  height: max-content;
  background-color: #272727;
  padding: 40px 0;
  text-align: center; }
  .reviews h2 {
    color: #ffff6a; }
  .reviews h4 {
    color: #d1d1d1;
    font-size: 1.2rem; }

.buttonSlider {
  display: flex;
  justify-content: center;
  gap: 20px; }
  .buttonSlider button {
    font-size: 1rem;
    background: none;
    color: #ffff6a;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ffff6a; }
    .buttonSlider button:hover {
      color: #fafa2b;
      border-bottom: 1px solid #fafa2b; }
    .buttonSlider button a {
      text-decoration: none;
      color: #ffff6a; }
      .buttonSlider button a:hover {
        color: #fafa2b; }

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: #272727;
  padding: 30px 0; }
  .slider h3 {
    padding-top: 10px;
    font-size: 1.2rem; }

.slide-track {
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(300px *24); }
  .slide-track:hover {
    animation-play-state: paused; }

.slide {
  background-color: #f8f8f8;
  color: #272727;
  border-radius: 7px;
  cursor: pointer; }
  .slide h3 {
    text-decoration: #535353 underline; }
  .slide p {
    width: 350px;
    height: 320px;
    text-align: start;
    padding: 0 10px; }
  .slide a {
    text-decoration: none;
    height: 250px;
    color: #3c3c3c; }
    .slide a:hover {
      color: black; }
  .slide img {
    width: 100px; }

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0); }
  100% {
    transform: translateX(calc(-300px *12));
    -webkit-transform: translateX(-3600px); } }

.contactMain {
  height: max-content;
  background-image: url(../img/contactBackground2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 0 20px; }

.formContact {
  background-color: rgba(0, 0, 0, 0.241);
  backdrop-filter: blur(30px);
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  padding: 3.5em 1.5em;
  margin: auto; }
  .formContact img {
    margin: auto;
    height: 100px;
    width: auto; }

.formContact__container {
  width: 100%;
  display: grid;
  gap: .8em;
  grid-auto-columns: 100%; }

.form__input {
  background-color: rgba(0, 0, 0, 0.074);
  color: #272727;
  font-size: 1rem;
  padding: .6em 1em;
  outline: none;
  border: none;
  border-bottom: solid 1.5px #272727; }
  .form__input::placeholder {
    color: black; }

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em;
  font-family: inherit;
  color: black; }

.form__cta {
  background: rgba(0, 0, 0, 0.1);
  color: black;
  border: none;
  border-bottom: 1px solid #272727;
  padding: .7em 0;
  cursor: pointer; }
  .form__cta:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #d1d1d1; }

.flags {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px; }

.flags__item {
  width: 30px; }

.flags__img {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px; }

#header {
  background-color: rgba(0, 0, 0, 0.241);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100vw;
  z-index: 10000; }

#navBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 100px;
  z-index: 100000; }
  #navBar a {
    color: #f6f6f6;
    font-weight: 400; }
    #navBar a:hover {
      color: #ffff5d; }
  #navBar__dropdown {
    background-color: rgba(0, 0, 0, 0.39); }
    #navBar__dropdown a:hover {
      background-color: rgba(14, 14, 14, 0.577);
      color: #ffff5d;
      font-weight: 500; }
  #navBar__button button {
    color: #f0f0f0;
    border-color: #f0f0f0; }
    #navBar__button button:hover {
      color: #0e0e0e;
      border-color: #ffff5d;
      background-color: #ffff5d; }
  #navBar__logo {
    margin-left: 30px; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8b8b8b;
  padding: 5px; }
  .footer a {
    text-decoration: none;
    color: #3a3939; }
    .footer a:hover {
      color: #0e0e0e; }
  .footer h5 {
    font-size: .7rem; }
  .footer__nav ul {
    gap: 20px;
    align-self: center; }

.maps {
  display: flex;
  gap: 20px;
  padding-top: 20px; }
  .maps p {
    font-size: .7rem; }
