@mixin cardRossello ($flex-direction, $background-color, $color-text, $color-title, $padding-title, $padding-text, $padding-image, $background-image){
        display: flex;
        flex-direction: $flex-direction;
        padding-top: 50px;
        background-color: $background-color;
        // align-items: center;
        a{
            text-decoration: none;
        }
        p{
            text-align: start;
            padding: $padding-text;
            color: $color-text;
        }
        h3{
            font-family: "futura-bold";
            text-align: center;
            padding-left: $padding-title;
            color: $color-title;
            padding-right: 100px;
            -webkit-text-stroke: 1px $darkgray;
            letter-spacing: 5px;
            font-size: 2.6rem;
        }
        button{
            color: $darkgray;
            border: solid 1px $darkgray;
            border-radius: 7px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 20px;
            &:hover{
                background-color: $lightyellow;
                color: $darkgray;
            }
        }
        picture{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        padding: $padding-image; 
        gap: 10px;
        img{
            height: 200px;
            width: 300px;
            border-radius: 7px;
            cursor: pointer;
            filter: brightness(0.6);
            &:nth-child(4){
                filter: brightness(0.2);
            }
        }
        div{
            background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), $background-image;
            background-size: cover;
            border-radius: 7px;
            cursor: pointer;
            h4{
                color: $yellow;
                padding-top: 80px;
                font-family: "futura-bold";
                font-size: 1.5rem;
                letter-spacing: 3px;
            }
        }
    }
};


@mixin cardBonsoms ($flex-direction, $background-color, $color-text, $color-title, $padding-title, $padding-text, $padding-image, $background-image){
    display: flex;
    flex-direction: $flex-direction;
    padding-top: 50px;
    background-color: $background-color;
    align-items: center;
    a{
        text-decoration: none;
    }
    p{
        text-align: start;
        padding: $padding-text;
        color: $color-text;
    }
    h3{
        font-family: "futura-bold";
        letter-spacing: 3px;
        text-align: center;
        padding-left: $padding-title;
        color: $color-title;
        padding-right: 100px;
    }
    picture{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    padding: $padding-image; 
    gap: 10px;
    img{
        height: 200px;
        width: 300px;
        border-radius: 7px;
        cursor: pointer;
        filter: brightness(0.6);
        &:nth-child(4){
            filter: brightness(0.2);
        }
    }
    div{
        background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(3, 3, 3, 0.8)), $background-image;
        background-size: cover;
        border-radius: 7px;
        cursor: pointer;
        h4{
            color: $yellow;
            padding-top: 80px;
            font-family: "futura-bold";
            font-size: 1.5rem;
            letter-spacing: 3px;
        }
    }
}
};
