$yellow: rgb(255, 255, 106);
$lightyellow: rgb(255, 255, 146);
$darkgray: rgb(39, 39, 39);
$lightgray: rgb(219, 219, 219);
$lightgraytext: rgb(231, 231, 231);
$light: rgb(246, 246, 246);
$yellowhover: rgb(250, 250, 43);


