// BONSOMS MOBILE
.bonsomsMain{
    height: max-content;
    background-color: $gray;
    padding-top: 120px;
    text-align: center;
    h1{
        font-family: "futura-bold";
        font-size: 4rem;
        color: $yellow;
        line-height: 70px;
    }
    h2{
        font-family: "futura-medium";
        font-size: 1.5rem;
        color: $light;
    }
    &__separador{
        border-top: 1px solid $yellow;
        height: 2px;
        margin: 0 30px 20px;
    }
    p{
        font-family: "futura-light";
        text-align: start;
    }
    button{
        letter-spacing: .2rem;
        font-family: "futura-light";
        font-size: 1.2rem;
        background: none;
        color: $yellow;
        border: 1px solid $yellow;
        border-radius: 3px;
        padding: 5px 20px;
    }
}

// ICONS BONSOMS
.iconsBonsoms{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-color: $gray;
    padding: 20px;
    justify-content: space-around;
    gap: 20px;
    img{
        height: 40px;
        width: auto;
        display: flex;
        filter: invert(80%) sepia(11%) saturate(1915%) hue-rotate(24deg) brightness(129%) contrast(103%);
    }
    p{
        color: $light;
        font-family: "futura-light";
        letter-spacing: 2px;
        font-size: .9rem;
    }
    &__text{
        p{
            color: $lightgraytext;
            padding: 0 20px;
            font-family: "futura-light";
        }
        button{
            color: $yellow;
            border: 1px solid $yellow;
            margin: 20px 0 50px;
        }
    }
}
// CARDS
.commonSpace{
    @include cardBonsomsMobile (column-reverse, $darkgray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/laundry/laundry_1.jpg));
}
// ROOM 1
.room1Bonsoms{
    @include cardBonsomsMobile (column-reverse, $gray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room1Bonsoms/room1_4.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}
// ROOM 2
.room2Bonsoms{
    @include cardBonsomsMobile (column-reverse, $darkgray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room2Bonsoms/room2_4.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}
// ROOM 3
.room3Bonsoms{
    @include cardBonsomsMobile (column-reverse, $gray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room3Bonsoms/room3_4.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}
// ROOM 4
.room4Bonsoms{
    @include cardBonsomsMobile (column-reverse, $darkgray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room4Bonsoms/room4_4.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}
// ROOM 5
.room5Bonsoms{
    @include cardBonsomsMobile (column-reverse, $gray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room5Bonsoms/room5_5.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}

.room6Bonsoms{
    @include cardBonsomsMobile (column-reverse, $darkgray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room6Bonsoms/room6_4.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}

.room7Bonsoms{
    @include cardBonsomsMobile (column-reverse, $gray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room7Bonsoms/room7_4.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}

.room8Bonsoms{
    @include cardBonsomsMobile (column-reverse, $darkgray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room8Bonsoms/room8_2.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
}

.room9Bonsoms{
    @include cardBonsomsMobile (column-reverse, $gray, $lightgraytext, $yellow, 20px, 0 20px, 20px 0, url(../img/bonsoms/room9Bonsoms/room9_4.jpg));
    button{
        color: $yellow;
        border: solid 1px $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 1rem;
        letter-spacing: 3px;
        margin-top: 20px;
    }
};

.transportBonsoms{
    background-color: rgb(68, 68, 68);
    width: 100%;
    padding-top: 50px;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        padding: 20px;
    }
    h3{
        font-family: "futura-bold";
        font-size: 1.5rem;
        text-align: start;
        color: $yellow;
    }
    ul{
        text-align: start;
        padding: 0;
        color: $light;
    }
    p{
        color: $darkgray;
        padding: 0;
        text-align: start;
        color: $light;
    }
    &__map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: .7rem;
            text-align: center;
        }
    }
}
// BONSOMS TABLET


// BONSOMS DESKTOP
@media (min-width: 992px) {
    .bonsomsMain{
        height: max-content;
        background-color: $gray;
        padding-top: 120px;
        text-align: center;
        padding-bottom: 0;
        h1{
            font-family: "futura-bold";
            font-size: 5rem;
            color: $yellow;
        }
        h2{
            font-family: "futura-medium";
            font-size: 2.2rem;
            letter-spacing: 2px;
            color: $light;
        }
        &__separador{
            border-top: 1px solid $yellow;
            height: 2px;
            margin: 0 300px 20px;
        }
        p{
            font-family: "futura-light";
            text-align: center;
        }
        button{
            letter-spacing: .2rem;
            font-family: "futura-light";
            font-size: 1.2rem;
            background: none;
            color: $yellow;
            border: 1px solid $yellow;
            border-radius: 3px;
            padding: 5px 20px;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
                transition: .5s;
            }
        }
    }
    
    // ICONS BONSOMS
    .iconsBonsoms{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        background-color: $gray;
        padding: 20px 100px;
        justify-content: space-around;
        gap: 20px;
        img{
            margin: auto;
            height: 70px;
            width: auto;
            filter: invert(80%) sepia(11%) saturate(1915%) hue-rotate(24deg) brightness(129%) contrast(103%);
        }
        p{
            color: $light;
            font-family: "futura-light";
            letter-spacing: 2px;
            font-size: .9rem;
        }
        &__text{
            p{
                color: $lightgraytext;
                padding: 10px 150px;
                font-family: "futura-light";
            }
            button{
                color: $yellow;
                border: 1px solid $yellow;
                margin-bottom: 50px;
            }
        }
    }
    
    // CARDS
    .commonSpace{
        @include cardBonsoms (row, $darkgray, $lightgraytext, $yellow, 20px, 0 30px 0 20px, 0 20px 50px 30px, url(../img/bonsoms/laundry/laundry_1.jpg));
    }
        
    .room1Bonsoms{
        @include cardBonsoms (row-reverse, $gray, $lightgraytext, $yellow, 100px, 0 20px 0 30px, 0 30px 50px 20px, url(../img/bonsoms/room1Bonsoms/room1_4.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
            }
        }
    }
    
    .room2Bonsoms{
        @include cardBonsoms (row, $darkgray, $lightgraytext, $yellow, 20px, 0 30px 0 20px, 0 20px 50px 30px, url(../img/bonsoms/room2Bonsoms/room2_4.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $gray;
                color: $yellow;
            }
        }
    }
    
    .room3Bonsoms{
        @include cardBonsoms (row-reverse, $gray, $lightgraytext, $yellow, 100px, 0 20px 0 30px, 0 30px 50px 20px, url(../img/bonsoms/room3Bonsoms/room3_4.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
            }
        }
    }
    
    .room4Bonsoms{
        @include cardBonsoms (row, $darkgray, $lightgraytext, $yellow, 20px, 0 30px 0 20px, 0 20px 50px 30px, url(../img/bonsoms/room4Bonsoms/room4_4.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $gray;
                color: $yellow;
            }
        }
    }
    
    .room5Bonsoms{
        @include cardBonsoms (row-reverse, $gray, $lightgraytext, $yellow, 100px, 0 20px 0 30px, 0 30px 50px 20px, url(../img/bonsoms/room5Bonsoms/room5_5.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
            }
        }
    }
    
    .room6Bonsoms{
        @include cardBonsoms (row, $darkgray, $lightgraytext, $yellow, 20px, 0 30px 0 20px, 0 20px 50px 30px, url(../img/bonsoms/room6Bonsoms/room6_4.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $gray;
                color: $yellow;
            }
        }
    }
    
    .room7Bonsoms{
        @include cardBonsoms (row-reverse, $gray, $lightgraytext, $yellow, 100px, 0 20px 0 30px, 0 30px 50px 20px, url(../img/bonsoms/room7Bonsoms/room7_4.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
            }
        }
    }
    
    .room8Bonsoms{
        @include cardBonsoms (row, $darkgray, $lightgraytext, $yellow, 20px, 0 30px 0 20px, 0 20px 50px 30px, url(../img/bonsoms/room8Bonsoms/room8_2.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $gray;
                color: $yellow;
            }
        }
    }
    
    .room9Bonsoms{
        @include cardBonsoms (row-reverse, $gray, $lightgraytext, $yellow, 100px, 0 20px 0 30px, 0 30px 50px 20px, url(../img/bonsoms/room9Bonsoms/room9_4.jpg));
        button{
            color: $yellow;
            border: solid 1px $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            font-size: 1rem;
            letter-spacing: 3px;
            margin-top: 5px;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
            }
        }
    }

    .transportBonsoms{
        background-color: rgb(68, 68, 68);
        padding: 30p 5px;
        width: 100%;
        h2{
            font-family: "futura-bold";
            font-size: 2.5rem;
            padding: 30px 0;
            color: $yellow;
        }
        h3{
            font-family: "futura-bold";
            font-size: 1.5rem;
            text-align: start;
            color: $yellow;

        }
        ul{
            text-align: start;
            padding: 0;
            color: $light;
        }
        p{
            color: $darkgray;
            padding: 0;
            text-align: start;
            color: $light;
        }
        &__map{
            p{
                text-align: center;
            }
        }
        &__content{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            gap: 50px;
            padding: 30px 70px;
        }
        &__map{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                font-size: .7rem;
            }
        }
    }
}

