.contactMain{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/contactBackground2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 150px 25px;
    display: flex;
    justify-content: space-between;
    h1{
        font-family: "futura-bold";
        letter-spacing: .3rem;
        font-size: 3.5rem;
        text-align: start;
        color: $darkgray;
    }
    h2{
        font-family: "futura-medium";
        text-align: start;
    }
    h3{
        font-family: "futura-medium";
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}

.infoContact{
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 300px;
    &__separador{
        border-top: 1px solid $darkgray;
        height: 2px;
        margin-right: 20px;
    }
    &__redesSociales{
        display: flex;
        justify-content: start;
        gap:40px;
        img{
            &:nth-child(1){
                &:hover{
                    filter: invert(21%) sepia(98%) saturate(7440%) hue-rotate(332deg) brightness(87%) contrast(105%);
                }
            }
            &:nth-child(2){
                &:hover{
                    filter: invert(14%) sepia(82%) saturate(5669%) hue-rotate(357deg) brightness(95%) contrast(113%);
                }
            }
            &:nth-child(3){
                &:hover{
                    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
                }
            }
        }
    }
}

.formContact{
    background-color: rgba(209, 209, 209, 0.368);
    backdrop-filter: blur(7px);
    width: 90%;
    max-width: 600px;
    border-radius: 3px;
    border: 1px solid rgba(59, 59, 59, 0.64);
    padding: 2em 1.5em;
    img{
        margin: auto;
        height: 100px;
        width: auto;
    }
}

.formContact__container{
    width: 100%;
    display: grid;
    gap: .8em;
    grid-auto-columns: 100%;
}

.formContact__calendar{
    display: flex;
    justify-content: space-around;
    color: black;
}

.calendar__input{
    background: none;
    color: $darkgray;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: solid 1.5px $darkgray;
    cursor: text;
}

.form__input{
    background: none;
    color: $darkgray;
    font-size: 1rem;
    padding: .6em 1em;
    outline: none;
    border:none;
    border-bottom: solid 1.5px $darkgray;
    &::placeholder{
        color: black;
    }
    &:focus{
        border: 1px solid $darkgray;
        border-radius: 3px;
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


.form__input--message{
    resize: none;
    padding: 2.8em 1em;
    margin-bottom: .5em;
    font-family: inherit;
    color: black;
    &:focus{
        border: 1px solid $darkgray;
    }
}

.form__cta{
    background-color: $gray;
    color: $yellowhover;
    border: none;
    padding: .7em 0;
    border-radius: 3px;
    &:hover{
        background-color: rgba(250, 250, 43, 0.716);
        color: $darkgray;
        transition: .4s;
        
    }
}

.infoContact{
    text-align: start;
    h2{
        font-size: 1.4rem;
    }
}

