.faqsMain{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),url(/img/colivingVibesNeon.jpg);
    background-size: cover;
    // background-attachment: fixed;
    height: max-content;
    padding-bottom: 40px;
    h1{
        padding-top: 120px;
        padding-bottom: 20px;
        text-align: center;
        font-family: "futura-bold";
        font-size: 3.5rem;
        letter-spacing: .5rem;
        color: $yellow;
    }
    h3{
        text-align: center;
        padding: 20px 0;
        font-family: "futura-medium";
        font-size: 1.5rem;
        letter-spacing: 3px;
        color: $lightgraytext;
    }
    h4{
        font-family: "futura-light";
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }
    p{
        font-family: "futura-light";
        font-size: 1.1rem;
    }
}

#accordion-item1{
    margin: 0 200px;
}

#accordionButton{
    background-color: $darkgray;
    color: $yellow;
    &::after{
        filter: invert(99%) sepia(58%) saturate(1553%) hue-rotate(333deg) brightness(112%) contrast(101%);
    }
    
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-body{
    background-color: $lightgraytext;
}