.faqsMain{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),url(/img/colivingVibesNeon.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: max-content;
    padding-bottom: 40px;
    h1{
        padding-top: 120px;
        text-align: center;
        font-family: "futura-bold";
        font-size: 3.5rem;
        letter-spacing: .5rem;
        color: $yellow;
    }
    h3{
        text-align: start;
        padding: 20px 300px;
        font-family: "futura-medium";
        font-size: 1.5rem;
        letter-spacing: 3px;
        color: $lightgraytext;
    }
    h4{
        font-family: "futura-light";
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }
    p{
        font-family: "futura-light";
        font-size: 1.1rem;
    }
    &__separador{
        border-top: 1px solid $yellow;
        height: 2px;
        margin: 0 300px 20px;
    }
}

#accordion-item1{
    margin: 10px 300px;
}

#accordionButton{
    background-color: $light;
    color: $darkgray;
}


.accordion-body{
    background-color: $darkgray;
    color: $lightgraytext;
}