.indexMain{
    height: 100vh;
    background-color: $darkgray;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/portada2_12.webp);
    background-size: cover;
}

.mainTitle{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 50px 0;
    h1{
        text-align: center;
        color: $yellow;
        font-size: 6rem;
        font-family: "futura-bold";
        letter-spacing: .5rem;
    }
    h2{
        font-family: "futura-light";
        letter-spacing: .5rem;
        color:$lightgraytext;
        font-size: 1.8rem;
        font-weight: 100;
        padding-bottom: 10px;
    }
    button{
        letter-spacing: 7px;
        font-family: "futura-light";
        font-size: 1.2rem;
        background: none;
        color: $yellow;
        border: 1px solid $yellow;
        border-radius: 3px;
        padding: 5px 15px;
        &:hover{
            background-color: $yellow;
            color: $darkgray;
            transition: .5s;
        }
    }
}

// INICIA OUR CONCEPT
.containerOurConcept{
    background-color: $gray;
    display: flex;
    justify-content: space-between;
    padding: 80px 200px;
    gap: 100px;
    h2{
        text-align: start;
        color: $yellow;
        font-family: "futura-medium";
        letter-spacing: 3px;
    }
    p{
        color: $lightgraytext;
        font-weight: 300;
        font-size: 1rem;
    }
    picture{
        display: flex;
        gap: 10px;
    }
    img{
        border-radius: 3px;
        filter: brightness(80%);
    }
    &__image{
        height: 420px;
        width: auto;
    }
    &__image2{
        height: 350px;
        width: auto;
        align-self: center;
    }
    a{
        text-align: center;
        margin: auto;
    }
    button{
        font-family: "futura-light";
        font-size: .9rem;
        font-weight: 400;
        color: $yellow;
        border: 1px solid $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        &:hover{
            border: 1px solid $lightgray;
            background-color: $lightgray;
            color: $darkgray;
            transition: .2s
        }
    }
}

// INICIA CARDS
.ourColivings{
    height: max-content;
    background-color: $light;
    background-size: cover;
    background-position: center;
    padding: 60px 30px 100px;
    text-align: center;
    h2{
        color:$darkgray;
        font-family: "futura-bold";
        font-size: 3.5rem;
        letter-spacing: 3px;
    }
    h3{
        font-size: 1.2rem;
        font-family: "futura-medium";
        color: $darkgray;
    }
    &__separador{
        border-top: 1px solid $darkgray;
        height: 2px;
        margin: 20px 300px 20px;
        padding-bottom: 40px;
    }
}


// INICIAN CARDS
.cardsContainer{
    display: flex;
    justify-content: space-around;
}
.rosselloCard{
    height: 590px;
    width: 380px;
    text-align: start;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 13px 2px $gray2; 
    box-shadow: 0px 0px 13px 2px $gray2;
    img{
        filter: brightness(75%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    h4{
        font-family: "futura-medium";
        letter-spacing: 5px;
        padding: 20px 0 0 30px;
        font-size: 1.5rem;
        color: $darkgray;
    }
    p{
        font-family: "futura-light";
        padding: 0px 30px;
        color: $darkgray;
    }
    a{
        margin-left: 30px;
    }
    button{
        border: 1px solid $darkgray;
        border-radius: 3px;
        font-family: "futura-light";
        font-size: .9rem;
        letter-spacing: 3px;
        padding: 5px 10px;
        margin-top: 20px;
        color: $darkgray;
        &:hover{
            background-color: $darkgray;
            color: $yellow;
            border: 1px solid $darkgray;
            transition: .2s;
        }
    }
    &__separador{
        border-top: 1px solid $darkgray;
        margin: 0 30px 10px;
    }
    
}

#soonButton{
    color: $gray2;
    border-color: $gray2;
    cursor: no-drop;
    margin-left: 30px;
    &:hover{
        background-color: none;
        color: $lightyellow;
        border: 1px solid $darkgray;
    }
}

.iconsCards{
    p{
        padding: 0px 30px;
        font-family: "futura-light";
        letter-spacing: 3px;
        font-size: .9rem;
        margin: 0;
    }
}

// INICIA RESEÑAS
.reviews{
    height: max-content;
    background-color: $gray;
    padding: 40px 0;
    text-align: center;
    h2{
        color:$yellow;
        font-family: "futura-medium";
        letter-spacing: 3px;
        font-size: 2.5rem;
    }
    h4{
        color:$lightgraytext;
        font-size: 1.2rem;
        font-family: "futura-medium";
        letter-spacing: 3px;
    }
    &__separador{
        border-top: 1px solid $yellow;
        height: 2px;
        margin: 10px 500px 20px;
    }
}

// BUTTONS RESEÑAS
.buttonSlider{
    display: flex;
    justify-content: center;
    gap: 20px;
    button{
        font-size: 1rem;
        font-family: "futura-light";
        background: none;
        color:$yellow;
        padding: 5px;
        border: none;
        border-bottom: 1px solid $yellow;
        &:hover{
            color: $yellowhover;
            border-bottom: 1px solid $yellowhover;
        }
        a{
            text-decoration: none;
            color: $yellow;
            &:hover{
                color: $yellowhover;
            }
        }
    }
}

// SLIDER
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color:$gray;
    padding: 30px 0;
    h3{
        padding-top: 10px;
        font-size: 1.2rem;
    }
}
.slide-track{
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(300px *24);
    &:hover{
        animation-play-state: paused;
    }
}
.slide{
    background-color:rgb(248, 248, 248);
    color:rgb(39, 39, 39);
    border-radius: 3px;
    cursor: pointer;
    h3{
        text-decoration: rgb(83, 83, 83) underline;
        padding-top: 20px;
    }
    p{
        width: 350px;
        height: 320px;
        text-align: start;
        padding: 5px 30px;
    }
    a{
        text-decoration: none;
        height: 250px;
        color: rgb(60, 60, 60);
        &:hover{
            color:rgb(0, 0, 0);
        }
    }
    img{
        width: 100px;
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-300px *12));
        -webkit-transform: translateX(-300px *12);
    }
}

