main{
    height: 100vh;
    text-align: center;
    align-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/portada2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y:top;
    
    h1{
        padding-top: 300px;
        color: rgb(255, 255, 106);
        font-size: 3.2rem;
        font-family: "dazzle-bold";
        font-weight: 100;
        letter-spacing: .8rem;
    }
    h2{
        color:rgb(186, 186, 186);
        font-size: 1.8rem;
        font-weight: 100;
        padding-bottom: 10px;
    }
    button{
        font-size: 1.5rem;
        font-weight: 500;
        background: none;
        color:rgb(255, 255, 106);
        border: none;
        border-bottom: 1px solid rgb(255, 255, 106);;
        padding: 5px 20px;
        &:hover{
            color: rgb(171, 171, 72);
        }
    }
}




.mainTitle{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 40vw;
    height: 100vh;
}

// INICIA CARDS
article{
    height: max-content;
    background-color:rgb(139, 139, 139);
    padding: 30px;
    text-align: center;
    h2{
        color:rgb(255, 255, 106);
    }
    h3{
        font-size: 1.2rem;
    }
}

.cards{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 20px;
    h4{
        font-size: 1rem;
        font-weight: 400;
        text-align: start;
        padding: 10px;
        color:rgb(39, 39, 39);
        background-color:rgba(255, 255, 106, 0.71);
        margin-right: 260px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 7px;
    }
    &__rossello{
        height: 250px;
        width: 350px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cardsRossello.jpg);
        background-size: cover;
        border-radius: 7px;
        background-color: rgb(186, 186, 186);
        box-shadow: 8px 5px 30px -3px rgba(7, 7, 7, 0.41);
        -webkit-box-shadow: 8px 5px 30px -3px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 8px 5px 30px -3px rgba(2, 2, 2, 0.41);
    }
    &__bonsoms{
        height: 250px;
        width: 350px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cardsBonsoms.jpg);
        background-size: cover;
        border-radius: 7px;
        box-shadow: 8px 5px 30px -3px rgba(7, 7, 7, 0.41);
        -webkit-box-shadow: 8px 5px 30px -3px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 8px 5px 30px -3px rgba(2, 2, 2, 0.41);
    }
}

// INICIA RESEÑAS
section{
    height: max-content;
    background-color:rgb(39, 39, 39);
    padding: 20px;
    text-align: center;
    h2{
        color:rgb(255, 255, 106);
    }
    h4{
        color:rgb(219, 219, 219);
        font-size: 1.2rem;
    }
}

// BUTTONS RESEÑAS
.buttonSlider{
    display: flex;
    justify-content: center;
    gap: 20px;
    button{
        background: none;
        color:rgb(255, 255, 106);
        padding: 5px;
        
        border: none;
        border-bottom: 1px solid rgb(255, 255, 106);;
    }
    a{
        text-decoration: none;
        color:rgb(255, 255, 106);
        &:hover{
            color:rgb(171, 171, 72);
            
        }
    }
}

// SLIDER
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color:rgb(39, 39, 39);
    padding: 30px 0;
    h3{
        padding-top: 10px;
        font-size: 1.2rem;
    }
}
.slide-track{
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(300px *24);
    &:hover{
        animation-play-state: paused;
    }
}
.slide{
    background-color:rgb(248, 248, 248);
    color:rgb(39, 39, 39);
    border-radius: 7px;
    cursor: pointer;
    h3{
        text-decoration: rgb(83, 83, 83) underline;

    }
    p{
        width: 350px;
        height: 320px;
        text-align: start;
        padding: 0 10px;
    }
    a{
        text-decoration: none;
        height: 250px;
        color: rgb(60, 60, 60);
        &:hover{
            color:rgb(0, 0, 0);
        }
    }
    img{
        width: 100px;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-300px *12));
        -webkit-transform: translateX(-300px *12);
    }
}

