// INDEX MOBILE
.indexMain{
    height: max-content;
    background-color: $darkgray;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/portada2_12.webp);
    background-size: cover;
    background-position-x: right;
}

.bodyIndex{
    background-color: $gray;
}

.mainTitle{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 50px 0;
    h1{
        text-align: center;
        color: $yellow;
        font-size: 5rem;
        font-family: "futura-bold";
        line-height: 70px;
        padding-bottom: 5px;
    }
    h2{
        font-family: "futura-light";
        color:$lightgraytext;
        font-size: 2.5rem;
        padding-bottom: 10px;
    }
    button{
        letter-spacing: 3px;
        font-family: "futura-bold";
        font-size: 1.5rem;
        background: none;
        color: $yellow;
        border: 1px solid $yellow;
        border-radius: 3px;
        padding: 5px 15px;
        &:hover{
            background-color: $yellow;
            color: $darkgray;
            transition: .5s;
        }
    }
}

// INICIA OUR CONCEPT
.containerOurConcept{
    background-color: $gray;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    padding-bottom: 40px;
    h2{
        text-align: start;
        color: $yellow;
        font-family: "futura-bold";
        font-size: 3.4rem;
        padding: 20px 0 0 20px;
    }
    p{  
        color: $lightgraytext;
        font-weight: 300;
        font-size: 1rem;
        padding: 0 20px;
    }
    picture{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    img{
        border-radius: 3px;
        filter: brightness(80%);
    }
    &__image{
        height: 400px;
        width: auto;
        padding: 0 20px;
    }
    &__image2{
        height: 420px;
        width: auto;
        padding: 0 20px;
    }
    button{
        font-family: "futura-light";
        font-size: .9rem;
        font-weight: 400;
        color: $yellow;
        border: 1px solid $yellow;
        border-radius: 3px;
        padding: 5px 10px;
        margin: 0 0 20px 20px;
        &:hover{
            border: 1px solid $lightgray;
            background-color: $lightgray;
            color: $darkgray;
            transition: .2s
        }
    }
}

// INICIA OUR COLIVINGS
.ourColivings{
    height: max-content;
    background-color: $light;
    text-align: center;
    padding: 50px 20px;
    h2{
        color:$darkgray;
        font-family: "futura-bold";
        font-size: 4rem;
        line-height: 60px;
    }
    h3{
        font-size: 1.2rem;
        font-family: "futura-medium";
        color: $darkgray;
    }
    &__separador{
        border-top: 1px solid $darkgray;
        height: 2px;
        margin: 20px 5px 20px;
        padding-bottom: 40px;
    }
}

// INICIAN CARDS
.cardsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
        align-items: center;
    }
    .rosselloCard{
        height: 640px;
        width: 370px;
        text-align: start;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        -webkit-box-shadow: 0px 0px 13px 2px $gray2; 
        box-shadow: 0px 0px 13px 2px $gray2;
        img{
            filter: brightness(60%);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 240px;
            width: 370px;
        }
        h4{
            font-family: "futura-bold";
            padding: 20px 0 0 30px;
            font-size: 2rem;
            color: $darkgray;
            letter-spacing: 0px;
        }
        a{
            margin-left: 30px;
        }
        button{
            border: 1px solid $gray;
            border-radius: 3px;
            font-family: "futura-light";
            font-size: .9rem;
            letter-spacing: 3px;
            padding: 5px 10px;
            margin-top: 25px;
            color: $darkgray;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
                border: 1px solid $darkgray;
                transition: .2s;
            }
        }
        &__separador{
            border-top: 1px solid $darkgray;
            margin: 0 30px 10px;
        }
        &__text{
            font-family: "futura-light";
            padding: 0 30px;
        }
    }

    #soonButton{
        color: $gray2;
        border-color: $gray2;
        cursor: no-drop;
        margin: 25px 30px;
        &:hover{
            background-color: none;
            color: $lightyellow;
            border: 1px solid $darkgray;
        }
    }
    
    .iconsCards{
        img{
            height: 20px;
            width: auto;
        }
        &__text{
            display: flex;
            padding-top: 2px;
            padding-left: 30px;
            justify-content: start;
            gap: 5px;
        }
    }

    .iconsCards__p{
        font-family: "futura-light";
        letter-spacing: 3px;
        font-size: .9rem;
        margin: 0;
    }


// INICIA RESEÑAS
.reviews{
    height: max-content;
    background-color: $gray;
    padding: 40px 0;
    text-align: center;
    h2{
        color:$yellow;
        font-family: "futura-bold";
        font-size: 3.5rem;
    }
    h4{
        color:$lightgraytext;
        font-size: 1.2rem;
        font-family: "futura-medium";
        letter-spacing: 3px;
        padding: 0 20px;
    }
    &__separador{
        border-top: 1px solid $yellow;
        height: 2px;
        margin: 10px 30px 20px;
    }
}

// BUTTONS RESEÑAS
.buttonSlider{
    display: flex;
    justify-content: center;
    gap: 20px;
    button{
        font-size: 1rem;
        font-family: "futura-light";
        background: none;
        color:$yellow;
        padding: 5px;
        border: none;
        border-bottom: 1px solid $yellow;
        &:hover{
            color: $yellowhover;
            border-bottom: 1px solid $yellowhover;
        }
        a{
            text-decoration: none;
            color: $yellow;
            &:hover{
                color: $yellowhover;
            }
        }
    }
}

// SLIDER
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color:$gray;
    padding: 30px 0;
    h3{
        padding-top: 10px;
        font-size: 1.2rem;
    }
}
.slide-track{
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: scroll 90s linear infinite;
    -webkit-animation: scroll 90s linear infinite;
    width: calc(300px *24);
    &:hover{
        animation-play-state: paused;
    }
}
.slide{
    background-color:rgb(248, 248, 248);
    color:rgb(39, 39, 39);
    border-radius: 3px;
    cursor: pointer;
    h3{
        text-decoration: rgb(83, 83, 83) underline;
        padding-top: 20px;
    }
    p{
        width: 350px;
        height: 320px;
        text-align: start;
        padding: 5px 30px;
    }
    a{
        text-decoration: none;
        height: 250px;
        color: rgb(60, 60, 60);
        &:hover{
            color:rgb(0, 0, 0);
        }
    }
    img{
        width: 100px;
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-300px *12));
        -webkit-transform: translateX(-300px *12);
    }
}






// INDEX TABLET
@media (min-width: 768px) {
    .containerOurConcept{
        background-color: $gray;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 50px 40px;
        gap: 10px;
        h2{
            text-align: start;
            color: $yellow;
            font-family: "futura-bold";
            font-size: 3.4rem;
        }
        p{
            color: $lightgraytext;
            font-weight: 300;
            font-size: 1rem;
        }
        picture{
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
        }
        img{
            border-radius: 3px;
            filter: brightness(80%);
        }
        &__image{
            height: 420px;
            width: auto;
            padding: 0;
        }
        &__image2{
            height: 350px;
            width: auto;
            align-self: center;
            padding: 0;
        }
        button{
            font-family: "futura-light";
            font-size: .9rem;
            font-weight: 400;
            color: $yellow;
            border: 1px solid $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            &:hover{
                border: 1px solid $lightgray;
                background-color: $lightgray;
                color: $darkgray;
                transition: .2s
            }
        }
    }
    
    // CARDS
    .cardsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .rosselloCard{
        height: 640px;
        width: 330px;
        text-align: start;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        -webkit-box-shadow: 0px 0px 13px 2px $gray2; 
        box-shadow: 0px 0px 13px 2px $gray2;
        img{
            filter: brightness(60%);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 240px;
            width: 330px;
        }
        h4{
            font-family: "futura-bold";
            padding: 20px 0 0 30px;
            font-size: 2rem;
            color: $darkgray;
            letter-spacing: 0px;
        }
        a{
            margin-left: 30px;
        }
        button{
            border: 1px solid $gray;
            border-radius: 3px;
            font-family: "futura-light";
            font-size: .9rem;
            letter-spacing: 3px;
            padding: 5px 10px;
            margin-top: 20px;
            color: $darkgray;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
                border: 1px solid $darkgray;
                transition: .2s;
            }
        }
        &__separador{
            border-top: 1px solid $darkgray;
            margin: 0 30px 10px;
        }
        &__text{
            font-family: "futura-light";
            padding: 0 30px;
        }
    }

    #soonButton{
        color: $gray2;
        border-color: $gray2;
        cursor: no-drop;
        margin: 20px 30px;
        &:hover{
            background-color: none;
            color: $lightyellow;
            border: 1px solid $darkgray;
        }
    }
    
    .iconsCards{
        img{
            height: 20px;
            width: auto;
        }
        &__text{
            display: flex;
            padding-top: 2px;
            padding-left: 30px;
            justify-content: start;
            gap: 5px;
        }
    }

    .iconsCards__p{
        font-family: "futura-light";
        letter-spacing: 3px;
        font-size: .9rem;
        margin: 0;
    }
}







// INDEX DESKTOP
@media (min-width: 992px) {
    .indexMain{
        height: max-content;
        background-color: $darkgray;
        display: flex;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/portada2_12.webp);
        background-size: cover;
    }

    .bodyIndex{
        background-color: $gray;
    }
    
    .mainTitle{
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 80px 50px 0;
        h1{
            text-align: center;
            color: $yellow;
            font-size: 8.5rem;
            font-family: "futura-bold";
            line-height: 120px;
            padding-bottom: 20px;
        }
        h2{
            font-family: "futura-light";
            color:$lightgraytext;
            font-size: 2.5rem;
            padding-bottom: 10px;
        }
        button{
            letter-spacing: 3px;
            font-family: "futura-bold";
            font-size: 2rem;
            background: none;
            color: $yellow;
            border: 1px solid $yellow;
            border-radius: 3px;
            padding: 5px 15px;
            &:hover{
                background-color: $yellow;
                color: $darkgray;
                transition: .5s;
            }
        }
    }
    
    // INICIA OUR CONCEPT
    .containerOurConcept{
        background-color: $gray;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px 130px;
        gap: 10px;
        h2{
            text-align: start;
            color: $yellow;
            font-family: "futura-bold";
            font-size: 3.4rem;
        }
        p{
            color: $lightgraytext;
            font-weight: 300;
            font-size: 1rem;
        }
        picture{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        img{
            border-radius: 3px;
            filter: brightness(80%);
        }
        &__image2{
            height: 350px;
            width: auto;
            // align-self: center;
            padding: 0;

        }
        button{
            font-family: "futura-light";
            font-size: .9rem;
            font-weight: 400;
            color: $yellow;
            border: 1px solid $yellow;
            border-radius: 3px;
            padding: 5px 10px;
            &:hover{
                border: 1px solid $lightgray;
                background-color: $lightgray;
                color: $darkgray;
                transition: .2s
            }
        }
    }

    
    // INICIA COLIVINGS
    .ourColivings{
        height: max-content;
        background-color: $light;
        background-size: cover;
        background-position: center;
        padding: 60px 30px 100px;
        text-align: center;
        h2{
            color:$darkgray;
            font-family: "futura-bold";
            font-size: 4rem;
            
        }
        h3{
            font-size: 1.2rem;
            font-family: "futura-medium";
            color: $darkgray;
        }
        &__separador{
            border-top: 1px solid $darkgray;
            height: 2px;
            margin: 20px 300px 20px;
            padding-bottom: 40px;
        }
    }
    
    // INICIAN CARDS
    .cardsContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .rosselloCard{
        height: 620px;
        width: 380px;
        text-align: start;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        -webkit-box-shadow: 0px 0px 13px 2px $gray2; 
        box-shadow: 0px 0px 13px 2px $gray2;
        img{
            filter: brightness(60%);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 240px;
            width: 380px;
        }
        h4{
            font-family: "futura-bold";
            padding: 20px 0 0 30px;
            font-size: 2rem;
            color: $darkgray;
            letter-spacing: 0px;
        }
        a{
            margin-left: 30px;
        }
        button{
            border: 1px solid $gray;
            border-radius: 3px;
            font-family: "futura-light";
            font-size: .9rem;
            letter-spacing: 3px;
            padding: 5px 10px;
            margin-top: 20px;
            color: $darkgray;
            &:hover{
                background-color: $darkgray;
                color: $yellow;
                border: 1px solid $darkgray;
                transition: .2s;
            }
        }
        &__separador{
            border-top: 1px solid $darkgray;
            margin: 0 30px 10px;
        }
        &__text{
            font-family: "futura-light";
            padding: 0 30px;
        }
    }

    #soonButton{
        color: $gray2;
        border-color: $gray2;
        cursor: no-drop;
        margin: 20px 30px;
        &:hover{
            background-color: none;
            color: $lightyellow;
            border: 1px solid $darkgray;
        }
    }
    
    .iconsCards{
        img{
            height: 20px;
            width: auto;
        }
        &__text{
            display: flex;
            padding-top: 2px;
            padding-left: 30px;
            justify-content: start;
            gap: 5px;
        }
    }

    .iconsCards__p{
        font-family: "futura-light";
        letter-spacing: 3px;
        font-size: .9rem;
        margin: 0;
    }
    
    // INICIA RESEÑAS
    .reviews{
        height: max-content;
        background-color: $gray;
        padding: 40px 0;
        text-align: center;
        h2{
            color:$yellow;
            font-family: "futura-bold";
            font-size: 3.5rem;
        }
        h4{
            color:$lightgraytext;
            font-size: 1.2rem;
            font-family: "futura-medium";
            letter-spacing: 3px;
        }
        &__separador{
            border-top: 1px solid $yellow;
            height: 2px;
            margin: 10px 500px 20px;
        }
    }
    // BUTTONS RESEÑAS
    .buttonSlider{
        display: flex;
        justify-content: center;
        gap: 20px;
        button{
            font-size: 1rem;
            font-family: "futura-light";
            background: none;
            color:$yellow;
            padding: 5px;
            border: none;
            border-bottom: 1px solid $yellow;
            &:hover{
                color: $yellowhover;
                border-bottom: 1px solid $yellowhover;
            }
            a{
                text-decoration: none;
                color: $yellow;
                &:hover{
                    color: $yellowhover;
                }
            }
        }
    }
    // SLIDER
    .slider{
        width: 100%;
        height: auto;
        margin: auto;
        overflow: hidden;
        background-color:$gray;
        padding: 30px 0;
        h3{
            padding-top: 10px;
            font-size: 1.2rem;
        }
    }
    .slide-track{
        display: flex;
        justify-content: center;
        gap: 20px;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(300px *24);
        &:hover{
            animation-play-state: paused;
        }
    }
    .slide{
        background-color:rgb(248, 248, 248);
        color:rgb(39, 39, 39);
        border-radius: 3px;
        cursor: pointer;
        h3{
            text-decoration: rgb(83, 83, 83) underline;
            padding-top: 20px;
        }
        p{
            width: 350px;
            height: 320px;
            text-align: start;
            padding: 5px 30px;
        }
        a{
            text-decoration: none;
            height: 250px;
            color: rgb(60, 60, 60);
            &:hover{
                color:rgb(0, 0, 0);
            }
        }
        img{
            width: 100px;
        }
    }
    
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
            -webkit-transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-300px *12));
            -webkit-transform: translateX(-300px *12);
        }
    }
}
