// ourConcept MOBILE
.ourConceptMain{
    height: max-content;
    padding-top: 120px;
    background-color: $light;
    padding-bottom: 50px;
    h1{
        text-align: center;
        font-family: "futura-bold";
        font-size: 4.5rem;
        color: $darkgray;
        line-height: 70px;
    }
    h2{
        text-align: center;
        color: $darkgray;
        font-family: "futura-bold";
        font-size: 3.2rem;
    }
    p{
        font-size: 1rem;
        font-family: "futura-light";
        padding: 0 20px;
    }
    &__separador{
        border-top: 1px solid $darkgray;
        height: 2px;
        margin: 0 30px 20px;
    }
}
// VIDEO
.ourConceptVideo{
    display: flex;
    flex-direction: column-reverse;
    background-color: $light;
    video{
        height: 100%;
        width: 100%;
    }
    h2{
        font-size: 2.8rem;
        font-family: "futura-bold";
        padding: 0 20px;
        text-align: start;
        line-height: 50px;
        padding-top: 20px;
    }
    p{
        padding-left: 20px;
    }
}

// INICIA HOME CARD
.containerOurConceptHome{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: max-content;
    padding: 50px 0;
    img{
        border-radius: 3px;
    }
    &__image{
        height: auto;
        width: 100%;
        padding: 10px;
    }
}

// INICIA DESIGN CARD
.containerOurConceptDesign{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: max-content;
    background-color: $light;
    img{
        border-radius: 3px;
    }
    &__image{
        height: auto;
        width: 100%;
        padding: 10px;
    }
}

// THIRD CARD
.containerOurConceptCommon{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: max-content;
    padding: 50px 0;
    img{
        border-radius: 3px;
    }
    &__image{
        height: auto;
        width: 100%;
        padding: 10px;
    }
}




// ourConcept TABLET

// ourConcept DESKTOP
@media (min-width: 992px) {
    .ourConceptMain{
    height: max-content;
    padding-top: 150px;
    background-color: $light;
    padding-bottom: 50px;
    h1{
        text-align: center;
        font-family: "futura-bold";
        font-size: 4.5rem;
        color: $darkgray;
    }
    h2{
        text-align: center;
        color: $darkgray;
        font-family: "futura-bold";
        font-size: 3.2rem;
    }
    p{
        font-size: 1rem;
        font-family: "futura-light";
    }
    &__separador{
        border-top: 1px solid $darkgray;
        height: 2px;
        margin: 0 300px 20px;
    }
}

.ourConceptVideo{
    display: flex;
    flex-direction: column;
    background-color: $light;
    align-items: center;
    video{
        height: 350px;
        width: auto;
    }
    h2{
        font-size: 2.5rem;
        font-family: "futura-bold";
        padding: 20px;
        line-height: 30px;
    }
    p{
        padding: 20px 200px;
    }
}

// INICIA HOME CARD
.containerOurConceptHome{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    width: 70vw;
    margin-left: 15%;
    gap: 10px;
    padding: 50px 0;
    img{
        border-radius: 3px;
    }
    &__image{
        height: 250px;
        width: auto;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
    }
    p{
        padding: 0;
    }
}

// INICIA DESIGN CARD
.containerOurConceptDesign{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 70vw;
    margin-left: 15%;
    gap: 10px;
    padding: 30px 0;

    img{
        border-radius: 3px;
    }
    &__image{
        height: 250px;
        width: auto;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
    }
    p{
        padding: 0;
    }
}

// THIRD CARD
.containerOurConceptCommon{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 70vw;
    margin-left: 15%;
    padding: 50px 0;
    img{
        border-radius: 3px;
    }
    &__image{
        height: 250px;
        width: auto;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
    }
    p{
        padding: 0;
    }
}
}




