// ourConcept MOBILE
.ourConceptMain{
    height: max-content;
    padding-top: 120px;
    background-color: $gray;
    h1{
        text-align: center;
        font-family: "futura-bold";
        font-size: 4.5rem;
        color: $darkgray;
        line-height: 70px;
    }
    h2{
        text-align: center;
        color: $darkgray;
        font-family: "futura-bold";
        font-size: 3.2rem;
    }
    p{
        font-size: 1rem;
        font-family: "futura-light";
        padding: 0 20px;
    }
    &__separador{
        border-top: 1px solid $darkgray;
        height: 2px;
        margin: 0 30px 20px;
    }
}
// VIDEO
.ourConceptVideo{
    display: flex;
    flex-direction: column-reverse;
    background-color: $gray;
    video{
        height: 100%;
        width: 100%;
    }
    h2{
        font-size: 2.8rem;
        font-family: "futura-bold";
        padding: 0 20px;
        text-align: start;
        line-height: 50px;
        padding-top: 20px;
    }
    p{
        padding-left: 20px;
    }
}

// START CARDS OUR CONCEPT
.cardsOurConcept{
    background-color: $gray;
    margin-top: 30px;
}
// CONTENEDOR 1
.containerCardsOurConcept1{
    display: flex;
    flex-direction: column;
}
// CARD FLEXIBILIDAD
.flexibilidadCard{
    display: flex;
    flex-direction: column-reverse;
    background-color: $yellow;
    height: max-content;
    align-items: center;
    margin: 10px;
    padding: 10px;
    align-content: center;
    border-radius: 3px;
    img{
        height: auto;
        width: 250px;
        border-radius: 3px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-family: "futura-light";
            font-size: .9rem;
            text-align: center;
        }
    }
}
// FIN CARD FLEXIBILIDAD

// INICIA CARD VIDA SIN COMPLICACIONES
.vidaSinComplicacionesCard{
    display: flex;
    flex-direction: column-reverse;
    background-color: $yellow;
    height: max-content;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    img{
        height: auto;
        width: 250px;
        border-radius: 3px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-size: .9rem;
            font-family: "futura-light";
            text-align: center;
        }
    }
}

// CONTENEDOR 2
.containerCardsOurConcept2{
    display: flex;
    flex-direction: column;
}
// SELECCION COLIVERS CARD
.seleccionColiversCard{
    display: flex;
    flex-direction: column-reverse;
    background-color: $yellow;
    height: max-content;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    img{
        height: auto;
        width: 250px;
        border-radius: 3px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-size: .9rem;
            font-family: "futura-light";
            text-align: center;
        }
    }
}
// NETWORKING CARD
.networkingComunidadCard{
    display: flex;
    flex-direction: column-reverse;
    background-color: $yellow;
    height: max-content;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    img{
        height: auto;
        width: 250px;
        border-radius: 3px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-size: .9rem;
            font-family: "futura-light";
            text-align: center;
        }
    }
}

// CONTENEDOR 3
.containerCardsOurConcept3{
    display: flex;
    flex-direction: column;
}

// MANTENIMIENTO Y LIMPIEZA CARD
.mantenimientoLimpiezaCard{
    display: flex;
    flex-direction: column-reverse;
    background-color: $yellow;
    height: max-content;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    img{
        height: auto;
        width: 250px;
        border-radius: 3px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-size: .9rem;
            font-family: "futura-light";
            text-align: center;
        }
    }
}
// DISEÑO CARD
.diseñoAcogedorCard{
    display: flex;
    flex-direction: column-reverse;
    background-color: $yellow;
    height: max-content;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    img{
        height: auto;
        width: 250px;
        border-radius: 3px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-size: .9rem;
            font-family: "futura-light";
            text-align: center;
        }
    }
}





// ourConcept TABLET




// ourConcept DESKTOP
@media (min-width: 992px) {
    .ourConceptMain{
    height: max-content;
    padding-top: 150px;
    background-color: $gray;
    padding-bottom: 0;
    h1{
        text-align: center;
        font-family: "futura-bold";
        font-size: 4.5rem;
        color: $darkgray;
    }
    h2{
        text-align: center;
        color: $darkgray;
        font-family: "futura-bold";
        font-size: 3.2rem;
    }
    p{
        font-size: 1rem;
        font-family: "futura-light";
    }
    &__separador{
        border-top: 1px solid $darkgray;
        height: 2px;
        margin: 0 300px 20px;
    }
}

.ourConceptVideo{
    display: flex;
    flex-direction: column;
    background-color: $gray;
    align-items: center;
    video{
        height: 550px;
        width: auto;
    }
    h2{
        font-size: 2.5rem;
        font-family: "futura-bold";
        padding: 20px;
        line-height: 30px;
    }
    p{
        padding: 20px 200px;
    }
}

// START CARDS OUR CONCEPT
.cardsOurConcept{
    background-color: $gray;
    margin-top: 30px;
}
// CONTENEDOR 1
.containerCardsOurConcept1{
    display: flex;
    flex-direction: row;
}
// CARD FLEXIBILIDAD
.flexibilidadCard{
    display: flex;
    flex-direction: row;
    background-color: $yellow;
    height: 210px;
    width: 50%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    img{
        height: 160px;
        width: 230px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-family: "futura-light";
            font-size: .9rem;
        }
    }
}
// FIN CARD FLEXIBILIDAD

// INICIA CARD VIDA SIN COMPLICACIONES
.vidaSinComplicacionesCard{
    display: flex;
    flex-direction: row-reverse;
    background-color: $yellow;
    height: 210px;
    width: 50%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    img{
        height: 160px;
        width: 230px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-size: .9rem;
            font-family: "futura-light";
        }
    }
}

// CONTENEDOR 2
.containerCardsOurConcept2{
    display: flex;
    flex-direction: row;
}
// SELECCION COLIVERS CARD
.seleccionColiversCard{
    display: flex;
    flex-direction: row;
    background-color: $yellow;
    height: 250px;
    width: 50%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    img{
        height: 160px;
        width: 230px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-family: "futura-light";
            font-size: .9rem;
        }
    }
}
// NETWORKING CARD
.networkingComunidadCard{
    display: flex;
    flex-direction: row-reverse;
    background-color: $yellow;
    height: 250px;
    width: 50%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    img{
        height: 160px;
        width: 230px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-family: "futura-light";
            font-size: .9rem;
        }
    }
}

// CONTENEDOR 3
.containerCardsOurConcept3{
    display: flex;
    flex-direction: row;
}

// MANTENIMIENTO Y LIMPIEZA CARD
.mantenimientoLimpiezaCard{
    display: flex;
    flex-direction: row;
    background-color: $yellow;
    height: 220px;
    width: 50%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    img{
        height: 160px;
        width: 230px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-family: "futura-light";
            font-size: .9rem;
        }
    }
}
// DISEÑO CARD
.diseñoAcogedorCard{
    display: flex;
    flex-direction: row-reverse;
    background-color: $yellow;
    height: 220px;
    width: 50%;
    align-items: center;
    margin: 10px;
    padding: 10px;
    img{
        height: 160px;
        width: 230px;
    }
    &__text{
        h2{
            font-size: 1.5rem;
            font-family: "futura-bold";
        }
        p{
            font-size: .9rem;
            font-family: "futura-light";
        }
    }
}












// // INICIA HOME CARD
// .containerOurConceptHome{
//     display: flex;
//     flex-direction: row-reverse;
//     justify-content: center;
//     align-items: center;
//     background-color: $lightgray;
//     // height: 250px;
//     // width: 750px;
//     // width: 70vw;
//     // margin-left: 15%;
//     // gap: 10px;
//     // padding: 50px 0;
//     img{
//         border-radius: 3px;
//     }
//     &__image{
//         height: 250px;
//         width: auto;
//     }
//     h2{
//         text-align: center;
//         font-size: 1.5rem;
//     }
//     p{
//         // padding: 20px;
//     }
// }

// // INICIA DESIGN CARD
// .containerOurConceptDesign{
//     display: flex;
//     flex-direction: row;
//     justify-content: end;
//     align-items: center;
//     background-color: $lightgray;
//     height: 250px;
//     width: 50%;

//     img{
//         border-radius: 3px;
//     }
//     &__image{
//         height: 250px;
//         width: auto;
//     }
//     h2{
//         text-align: center;
//         font-size: 1.5rem;
//     }
//     p{
//         // padding: 20px;
//     }
// }

// // THIRD CARD
// .containerOurConceptCommon{
//     display: flex;
//     flex-direction: row;
//     justify-content: end;
//     align-items: center;
//     background-color: $lightgray;
//     height: 250px;
//     width: 50%;
//     img{
//         border-radius: 3px;
//     }
//     &__image{
//         height: 250px;
//         width: auto;
//     }
//     h2{
//         text-align: center;
//         font-size: 1.5rem;
//     }
//     p{
//         padding: 0;
//     }
// }
}




