.wrapperRoom1Bonsoms{
    @include wrapperRoomsRosselloMobile ((url(../img/bonsoms/room1Bonsoms/room1_1.jpg)), $green);
}

.bonsoms1__text{
    background-color: $lightgray;
    padding: 30px 30px 10px;
    text-align: start;
    h3{
        font-family: "futura-medium";
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
        font-family: "futura-light";
        margin: 0;
    }
}

.buttonRoom1{
    border: 1px solid $yellow;
    border-radius: 6px;
    padding: 5px 10px;
    font-family: "futura-light";
    color: $yellow;
    margin-top: 20px;
    &:hover{
        background-color: $yellow;
        color: $darkgray;
        transition: .2s;
    }
}

.calendarGoogleContainer{
    background-color: $lightgray;
    padding: 30px 0;
    h3{
        text-align: center;
    }
}

.calendarGoogle{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    iframe{
        width: auto;
        height: 300px;
    }
}

.cardsRoom1Bonsoms{
    @include pagesCardsRoomsRosselloMobile;
}

.cardsRoom1BonsomsItems{
    @include pagesCardsRoomsRosselloItemsMobile;
}

#cardsGalleryBonsomsRooms{
    background-color: $light;
}
#galleryRoom1Bonsoms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    background-color: $light;
    img{
        width: 350px;
        height: 270px;
        cursor: pointer;
    }
}

@media (min-width: 992px) {
    .wrapperRoom1Bonsoms{
        @include wrapperRoomsRosselloDesktop ((url(../img/bonsoms/room1Bonsoms/room1_3.jpg)), $green);
    }

    .cardsRoom1Bonsoms{
        @include pagesCardsRoomsRosselloDesktop;
    }

    .cardsRoom1BonsomsItems{
        @include pagesCardsRoomsRosselloItemsDesktop;
    }

    #cardsGalleryBonsomsRooms{
        background-color: $light;
        padding: 30px 0;
    }
    #galleryRoom1Bonsoms{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 30px;
        background-color: $light;
        img{
            width: 350px;
            height: 270px;
            cursor: pointer;
        }
    }

    .bonsoms1__text{
        background-color: $lightgray;
        padding: 30px 0 20px;
        text-align: center;
        h3{
            font-family: "futura-medium";
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            font-family: "futura-light";
            margin: 0;
            padding: 0 120px;
        }
    }

    .calendarGoogleContainer{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        background-color: $lightgray;
        h3{
            font-family: "futura-medium";
            font-size: 1.5rem;
        }
    }

    .calendarGoogle{
        margin: 0 auto;
        iframe{
            width: 400px;
            height: 300px;
        }
    }

    .buttonRoom1{
        border: 1px solid $yellow;
        border-radius: 6px;
        padding: 5px 10px;
        font-family: "futura-light";
        color: $yellow;
        margin-top: 20px;
        &:hover{
            background-color: $yellow;
            color: $darkgray;
            transition: .2s;
        }
    }
}