.wrapperRoom4Rossello{
    @include wrapperRoomsRosselloMobile ((url(../img/room4Rossello/room4_2.webp)), rgb(255, 50, 50));
}

.rossello4__text{
    background-color: $lightgray;
    padding: 30px 30px 10px;
    text-align: start;
    h3{
        font-family: "futura-medium";
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
        font-family: "futura-light";
        margin: 0;
    }
}
.cardsRoom4Rossello{
    @include pagesCardsRoomsRosselloMobile;
}

.cardsRoom4RosselloItems{
    @include pagesCardsRoomsRosselloItemsMobile;
}

#cardsGalleryRosselloRooms{
    background-color: $light;
}
#galleryRoom4Rossello{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    background-color: $light;
    img{
        width: 350px;
        height: 270px;
        cursor: pointer;
    }
}

// DESKTOP
@media (min-width: 992px) {
    .wrapperRoom4Rossello{
        @include wrapperRoomsRosselloDesktop ((url(../img/room4Rossello/room4_2.webp)), rgb(255, 50, 50));
    }

    .cardsRoom4Rossello{
        @include pagesCardsRoomsRosselloDesktop;
    }

    .cardsRoom4RosselloItems{
        @include pagesCardsRoomsRosselloItemsDesktop;
    }

    #cardsGalleryRosselloRooms{
        background-color: $light;
    }
    #galleryRoom4Rossello{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 30px;
        padding: 30px 0;
        background-color: $light;
        img{
            width: 350px;
            height: 270px;
            cursor: pointer;
        }
    }
    // START TEXT
    .rossello4__text{
        background-color: $lightgray;
        padding: 30px 0 20px;
        text-align: center;
        h3{
            font-family: "futura-medium";
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            font-family: "futura-light";
            margin: 0;
            padding: 0 120px;
        }
    }
}