.wrapperRoom5Bonsoms{
    @include wrapperRoomsRosselloMobile ((url(../img/bonsoms/room5Bonsoms/room4_1.webp)), $green);
}

.bonsoms5__text{
    background-color: $lightgray;
    padding: 30px 30px 10px;
    text-align: start;
    h3{
        font-family: "futura-medium";
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
        font-family: "futura-light";
        margin: 0;
    }
}

.cardsRoom5Bonsoms{
    @include pagesCardsRoomsRosselloMobile;
}

.cardsRoom5BonsomsItems{
    @include pagesCardsRoomsRosselloItemsMobile;
}

#cardsGalleryBonsomsRooms{
    background-color: $light;
}
#galleryRoom5Bonsoms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    background-color: $light;
    img{
        width: 350px;
        height: 270px;
        cursor: pointer;
    }
}

@media (min-width: 992px) {
    .wrapperRoom5Bonsoms{
        @include wrapperRoomsRosselloDesktop ((url(../img/bonsoms/room5Bonsoms/room5_1.webp)), $green);
    }

    .cardsRoom5Bonsoms{
        @include pagesCardsRoomsRosselloDesktop;
    }

    .cardsRoom5BonsomsItems{
        @include pagesCardsRoomsRosselloItemsDesktop;
    }

    #cardsGalleryBonsomsRooms{
        background-color: $light;
        padding: 30px 0;
    }
    #galleryRoom5Bonsoms{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 30px;
        background-color: $light;
        img{
            width: 350px;
            height: 270px;
            cursor: pointer;
        }
    }
    .bonsoms5__text{
        background-color: $lightgray;
        padding: 30px 0 20px;
        text-align: center;
        h3{
            font-family: "futura-medium";
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            font-family: "futura-light";
            margin: 0;
            padding: 0 120px;
        }
    }
}