.wrapperRoom5Bonsoms{
    @include wrapperRoomsRosselloMobile ((url(../img/bonsoms/room5Bonsoms/room4_1.jpg)), $green);
}

.cardsRoom5Bonsoms{
    @include pagesCardsRoomsRosselloMobile;
}

.cardsRoom5BonsomsItems{
    @include pagesCardsRoomsRosselloItemsMobile;
}

#cardsGalleryBonsomsRooms{
    background-color: $light;
}
#galleryRoom5Bonsoms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    background-color: $light;
    img{
        width: 350px;
        height: 270px;
        cursor: pointer;
    }
}

@media (min-width: 992px) {
    .wrapperRoom5Bonsoms{
        @include wrapperRoomsRosselloDesktop ((url(../img/bonsoms/room5Bonsoms/room5_1.jpg)), $green);
    }

    .cardsRoom5Bonsoms{
        @include pagesCardsRoomsRosselloDesktop;
    }

    .cardsRoom5BonsomsItems{
        @include pagesCardsRoomsRosselloItemsDesktop;
    }

    #cardsGalleryBonsomsRooms{
        background-color: $light;
        padding: 30px 0;
    }
    #galleryRoom5Bonsoms{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 30px;
        background-color: $light;
        img{
            width: 350px;
            height: 270px;
            cursor: pointer;
        }
    }
}