// FOOTER MOBILE
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: $darkgray;
    padding: 5px;
    color: $light;
    p{
        font-size: .7rem;
    }
    a{
        text-decoration: none;
        color: $light;
    }
    &__nav{
        ul{
            padding-top: 10px;
            margin-top: 20px;
            padding-left: 0;
        }
        li{
            padding-bottom: 10px;
            text-align: center;
        }
    }
    &__logo{
        img{
            height: 70px;
            width: 70px;
            margin: 30px 0;
        }
    }
    &__redes{
        display: flex;
        justify-content: center;
        gap:20px;
        p{
            font-size: .9rem;
            letter-spacing: 3px;
            font-family: "futura-bold";
            font-weight: 100;
        }
        img{
            height: 40px;
            width: auto;
            // margin: 20px;
        }
        a{
            filter: invert(81%) sepia(85%) saturate(305%) hue-rotate(355deg) brightness(105%) contrast(107%);
            &:nth-child(1){
                &:hover{
                    filter: invert(21%) sepia(98%) saturate(7440%) hue-rotate(332deg) brightness(87%) contrast(105%);
                }
            }
            &:nth-child(2){
                &:hover{
                    filter: invert(14%) sepia(82%) saturate(5669%) hue-rotate(357deg) brightness(95%) contrast(113%);
                }
            }
            &:nth-child(3){
                &:hover{
                    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
                }
            }
        }
    }
}

.container__redes{
    p{
        text-align: center;
        font-size: 1rem;
    }
}

.maps{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
    p{
        font-size: .7rem;
    }
}




// FOOTER TABLET



// FOOTER DESKTOP
@media (min-width: 992px) {
    .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $darkgray;
    padding: 5px;
    color: $light;
    a{
        text-decoration: none;
        color: $light;
        &:hover{
            color: $yellow;
        }
    }
    &__nav{
        ul{
            padding-top: 10px;
        }
        li{
            padding-bottom: 5px;
        }
    }
    &__logo{
        img{
            height: 70px;
            width: 70px;
        }
    }
    &__redes{
        display: flex;
        justify-content: space-around;
        gap: 2px;
        a{
            height: 35px;
            width: auto;
            &:nth-child(1){
                &:hover{
                    filter: invert(21%) sepia(98%) saturate(7440%) hue-rotate(332deg) brightness(87%) contrast(105%);
                }
            }
            &:nth-child(2){
                &:hover{
                    filter: invert(14%) sepia(82%) saturate(5669%) hue-rotate(357deg) brightness(95%) contrast(113%);
                }
            }
            &:nth-child(3){
                &:hover{
                    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
                }
            }
        }
    }
}

.container__redes{
    p{
        text-align: center;
        font-size: 1rem;
    }
}
.maps{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 20px;
    p{
        font-size: .7rem;
    }
}


}
