*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:auto;
}

ul li{
    list-style: none;
}

h1{
    font-size: 3rem
}

.wsp__fixed{
    position:fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.button__fixed{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    button{
        color: $darkgray;
        border-radius: 3px;
        padding: 5px 5px 3px;
        background-color: $yellow;
        font-size: .8rem;
        border: 1px solid $yellow;
        &:hover{
            background-color: $darkgray;
            color: $yellow;
            transition: .3s;
            border: 1px solid $yellow;
            img{
                filter: invert(100%) sepia(48%) saturate(2845%) hue-rotate(327deg) brightness(103%) contrast(107%);
            }
        }
        img{
            height: 30px;
            width: 30px;
        }
    }
}

@font-face {
    font-family: "dazzle-bold";
    src: url(../fonts/dazzle-bold.ttf);
    font-style:bold;
    font-weight:bold;
}

@font-face {
    font-family: "futura-bold";
    src: url(../fonts/futura-bold.ttf);
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "futura-bold2";
    src: url(../fonts/futura-bold.ttf);
    font-style:italic;
    font-weight:bolder;
}

@font-face {
    font-family: "futura-medium";
    src: url(../fonts/futura-medium.ttf);
    font-style: normal;
    font-weight:500;
}

@font-face {
    font-family: "futura-light";
    src: url(../fonts/futura-light.ttf);
    font-style:normal;
    font-weight: lighter;
}