.flags {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.flags__item{
    width: 30px;
}

.flags__img{
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
}

#header {
    background-color:rgba(0, 0, 0, 0.403);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100vw;
    z-index: 10000;
}

#navBar {
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding-left: 100px;
    z-index: 100000;
    a{
        color: $lightgraytext;
        font-weight:400;
        font-family: "futura-light";
        font-size: 1rem;
        letter-spacing: 2px;
        &:hover{
            color:  rgb(255, 255, 93);
        }
    }
    &__dropdown{
        background-color:rgba(0, 0, 0, 0.59);
        a{
            &:hover{
                background-color: rgba(14, 14, 14, 0.577);
                color:rgb(255, 255, 93);
                font-weight: 500;
            }
        }
    }
    &__button{
        button{
            font-family: "futura-light";
            font-size: 1rem;
            letter-spacing: 2px;
            color:rgb(240, 240, 240);
            border-color:  rgb(240, 240, 240);
            &:hover{
                color:rgb(14, 14, 14);
                border-color: rgb(255, 255, 93);
                background-color:  rgb(255, 255, 93);
            }
        }
        
    }
    &__logo{
        margin-left: 30px;
    }
}
